In [3]:
# Import the dependencies.

import pandas as pd

import gmaps

import requests

# Import the API key.

from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2022-07-19 02:47:27,-0.7393,-90.3518,68.56,94,65,3.00
1,1,Fairmont,US,2022-07-19 02:43:30,39.4851,-80.1426,72.77,93,97,3.83
2,2,Esperance,AU,2022-07-19 02:47:28,-33.8667,121.9000,59.02,74,5,6.73
3,3,Kruisfontein,ZA,2022-07-19 02:47:28,-34.0033,24.7314,52.88,92,50,4.43
4,4,Hermanus,ZA,2022-07-19 02:47:28,-34.4187,19.2345,52.81,80,99,6.11

In [12]:
#Get the data types

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [19]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))